<h2 mat-dialog-title>Register</h2>
<mat-dialog-content class="dialog-container"
    [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput
            type="text"
            formControlName="username"
            placeholder="Username">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput
            type="email"
            formControlName="email"
            placeholder="Email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
            formControlName="password"
            type="password"
            placeholder="password">
        <mat-error *ngIf="password?.invalid && !password?.hasError('required')">Password strength invalid</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Avatar</mat-label>
        <mat-select placeholder="Select avatar"
            formControlName="avatar">
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button
        color="primary"
        (click)="dismiss()">
        <mat-icon>
            cancel
        </mat-icon>
    </button>
</mat-dialog-actions>