.bd-overlay-dark {
    opacity: 0.5;
}
.spacer {
    flex: 1 1 auto;
}
$min-width: 75vw;
.bm-button-row {
    width: $min-width;
    display: flex;
    align-items: stretch;
    margin: 1rem 0.25rem;
    button {
        margin: 0 0.25rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    .form-item {
        min-width: 75vw;
        margin: auto;
    }
  }
  .header {
      display: flex;
      justify-content: space-around;
    flex-direction: row;
    justify-content: space-between;
    > * {
        margin: 0.25rem 1rem;
    }
  }
  .file-input {
      margin: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items:  center;
      input[type='file']{
          display: none;
      }
      .file-upload {
          display: flex;
          flex-direction: column;
          justify-content: center;
          div {
              margin: 0 1rem;
          }
      }
  }
  img {
      max-width: $min-width;
  }